<div class="logo">
    {% if link %}<a href="{{ link }}">{% endif %}
        {% if options.logo %}
                <img src="" data-src="{{ options.logo.sizes.medium }}" alt="{{ options.logo.alt }}" class="lazy"/>
        {% else %}
                <img src=""
                     data-src="{{ images_url }}/logo-mody-cloud.png"
                     alt="{{ site_name }}"
                     style="max-width: {{ max_width ?? '100%' }};" class="lazy"/>
        {% endif %}
    {% if link %}</a>{% endif %}
</div>